.App {
  text-align: center;
  width: 100vw;
  height: 92vh;
  font-family: Arial, Helvetica, sans-serif !important;
}

.navbar-brand {
  color: rgb(29, 192, 204) !important;
}

.navItem {
  margin-left: 10%;
}

.navItem:hover {
  font-size: 1.1em;
  transition: 0.5s;
  cursor: pointer;
}

.Background {
  height: auto;
  min-height: 92vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 1;
  position: fixed;
  filter: blur(2px);
}

.todayContainer {
  width: inherit;
  height: auto;
  min-height: 92vh;
}

.today {
  height: 92vh;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
}

.SearchBarClose {
  width: 30%;
  height: auto;
  margin-top: 2%;
  z-index: 10;
}

.SearchBarCloseButton {
  border-radius: 5px;
  border: 1px white solid;
  background-color: transparent;
  background-repeat: no-repeat;
  color: white;
  width: auto;
  height: 2em;
  font-weight: bold;
  font-size: 1.25em;
  padding-left: 1em;
  padding-right: 1em;
}

.SearchBarCloseButton:hover {
  background-color: rgba(233, 233, 233, 0.9);
  font-size: 1.35em;
  transition: 0.5s;
}

.locationIcon {
  padding-right: 0.5em;
}

.SearchBarSpan {
  width: 30%;
  height: auto;
  margin-top: 2%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  z-index: 10;
}

.SearchBarSpanLocation {
  width: auto;
  max-width: 50%;
  height: 2em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  padding-left: 0.5em;
  font-size: 1.25em;
  outline: none;
}

.SearchBarSpanSelect {
  height: 2em;
  width: auto;
  min-width: 15%;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  padding-left: 0.5em;
  font-size: 1.25em;
  outline: none;
}

.SearchBarSpanButton {
  color: white;
  background-color: rgb(7, 203, 252);
  border-radius: 5px;
  height: 2em;
  width: auto;
  min-width: 25%;
  border: none;
  font-weight: bold;
  font-size: 1.25em;
}

.SearchBarSpanButton:hover {
  background-color: rgb(7, 174, 252);
  transition: 0.25s;
}

.SearchBarSpanButton:active {
  background-color: rgb(7, 134, 252);
  margin-bottom: 3px;
  transition: 0.25s;
}

.TodayInfo {
  width: 35%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-size: cover;
  margin-bottom: 5%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  z-index: 10;
}

.description {
  font-size: 1.25em;
  color: white;
  left: 25%;
  top: 15%;
  position: relative;
  z-index: 10;
}

.temperature {
  font-size: 4.5em;
  color: white;
  right: 28%;
  bottom: 15%;
  position: relative;
}

.PostBar {
  width: 150%;
  height: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin-top: -6%;
  z-index: 10;
}

.PostBarInput {
  z-index: 10;
  width: auto;
  min-width: 30%;
  height: 10em;
  background-color: rgb(191, 237, 255);
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.PostBarMood {
  width: auto;
  min-width: 6em;
  height: 2em;
  font-size: 1.25em;
  outline: none;
  text-align: center;
  font-weight: bold;
}

.PostBarContent {
  width: auto;
  min-width: 60%;
  height: 80%;
  font-size: 1.25em;
  outline: none;
  font-weight: bold;
  padding-left: 5px;
}

.PostBarButton {
  color: white;
  background-color: rgb(7, 203, 252);
  border-radius: 5px;
  height: 2em;
  width: auto;
  min-width: 15%;
  border: none;
  font-size: 1.25em;
  font-weight: bold;
}

.PostBarButton:hover {
  background-color: rgb(7, 174, 252);
  transition: 0.25s;
}

.PostBarButton:active {
  background-color: rgb(7, 134, 252);
  transition: 0.25s;
}

.PostBarOutput {
  z-index: 10;
  width: auto;
  min-width: 30%;
  height: 15em;
  max-height: 20em;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.WeatherMood {
  background-color: white;
  height: auto;
  min-height: 6em;
  width: 100%;
  border: 1px rgb(177, 177, 177) solid;
  z-index: 10;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.WeatherMoodIcon {
  width: 20%;
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.WeatherMoodText {
  width: 70%;
  height: 100%;
  display: flex;
  text-align: start;
  align-items: center;
}

.Forecast {
  height: 90%;
  width: 100%;
}

.forecastInfo {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
}

.tomorrow {
  height: 45%;
  width: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 10;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.tomorrowWeather {
  font-size: 1.5em;
  position: relative;
  margin-left: 40%;
  margin-top: 5%;
}

.tomorrowTemp {
  position: relative;
  font-size: 4.5em;
  margin-right: 45%;
}

.futureDays {
  height: 20%;
  width: 50%;
  font-size: 1.5em;
  color: white;
  z-index: 10;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.futureIcon {
  height: 3em;
  width: 3em;
  z-index: 10;
}
.Loading {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}
